/*
CSS for Jill Faudree
*/

/*elements*/

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width:calc(100% - 200px);
}
hgroup{
  position:relative;
  left:355px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
  font-size:3.5em;
  color:#19019E;
  margin:5px;
}
h2{
  font-size:1.9em;
  margin:15px;
}
nav a, h2 a, h1 a{
  text-decoration:none;
}
.content{
  position:relative;
  left:215px;
  top:30px;
}
nav {
  background-color:#000;
  position:fixed;
  top:0px;
  left:0px;
  padding-left:5px;
  width:200px;
  height:100%;
  font-size:1.2em;
}
nav .footer{
  position:absolute;
  bottom:0px;
  font-size:0.7em;
  color:white;
  font-style: italic;
}
nav .uaf{
  position:absolute;
  top:1%;
  width:190px;
  height:190px;
}
nav .widget{
  position:absolute;
  bottom:7%;
}
nav ul{
  position:absolute;
  top:33%;
  list-style-type: none;
  padding:0;
}
nav li{
  padding-top:7px;
}
nav a {
  color:#13568D;
}
nav a:hover{
  color:#003398;
}
td:first-child{
  font-weight: bold;
}

td {
    padding-right: 8px;
}
/*classes*/
.divider{
  background-color:#19019E;
  position:relative;
  top:15px;
  left:197px;
  height:10px;
  width:100%;
}
.content > div{
  float: left;
  margin: 0 0 0 50px;
}
.uaf {
  color:#19019E;
  font-size:1.1em;
}

.profilepicture{
  position:absolute;
  top:15px;
  left:215px;
}

